.NameEditor {
  width: 400px;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

/* .NameEditor__textarea:hover{
  color: aliceblue;


} */

.NameEditor__button:hover,
.NameEditor__button:focus {
  background-color: rgb(255, 17, 0);
  color: yellow;
  border-bottom: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 40px;

  margin-bottom: 15px;
}

.formLabel {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.formName,
.formNumber {
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.1rem;
  border: solid 1px;
  border-radius: 2px;
  display: block;
}

.formBtn {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin-top: 30px;
  padding: 15px;
  border: solid 1px;
  cursor: pointer;

  border-radius: 2px;
  transition-duration: 250ms;
}

.formBtn:hover,
.formBtn:focus {
  transform: scale(1.1);
  background-color: blue;
  color: yellow;
}
